  <shared-dialog *ngIf="isModal" (emitter)="isModal = $event" >
  
    <form fxLayout="column" [formGroup]="customerForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field>
        <input matInput name="Name" formControlName="Name" placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="Address" formControlName="Address" placeholder="Address">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput name="Contact" formControlName="Contact" placeholder="Contact">
      </mat-form-field>
      <div style="display: flex;">
        <div style="flex-grow: 1;"></div>
        <button mat-raised-button type="button" (click)="isModal = false">Cancel</button>
        <button mat-raised-button color="accent" [disabled]="!isValid()" >Create</button>
      </div>
    </form>
  
  </shared-dialog>
  
  <margin-top></margin-top>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <h2 style="font-weight: 400;">Customer Table</h2>
    <gorgeous-button style="margin-left: auto;" (click)="isModal = true" >New Customer</gorgeous-button>
    <mat-form-field>
      <input matInput [(ngModel)]="searchKeyword" (ngModelChange)="searching()" name="search" placeholder="Search Customer">
    </mat-form-field>
  </div>
  
  <table mat-table [dataSource]="dataSourceCopy" class="mat-elevation-z8">
  
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
      </ng-container>

      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element"> {{element.Contact}} </td>
      </ng-container>

      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef> Remove </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteClicked( element.Id )">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>