<shared-dialog *ngIf="isModal" (emitter)="isModal = $event" >
  
    <form fxLayout="column" [formGroup]="saleForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field>
        <input type="number" matInput name="ProductId" formControlName="ProductId" placeholder="ProductId">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput name="Quantity" formControlName="Quantity" placeholder="Quantity">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput name="CustomerId" formControlName="CustomerId" placeholder="CustomerId">
      </mat-form-field>
      <mat-form-field>
        <input type="date" matInput name="Date" formControlName="Date" placeholder="Date">
      </mat-form-field>
      <div style="display: flex;">
        <div style="flex-grow: 1;"></div>
        <button mat-raised-button type="button" (click)="isModal = false">Cancel</button>
        <button mat-raised-button color="accent" [disabled]="!isValid()" >Create</button>
      </div>
    </form>
  
  </shared-dialog>
  
  <margin-top></margin-top>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <h2 style="font-weight: 400;">Sales Table</h2>
    <gorgeous-button style="margin-left: auto;" (click)="isModal = true" >New Sale</gorgeous-button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="ProductId">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let element"> {{ this.productService.GetProductById( element.ProductId )?.Name }} </td>
      </ng-container>
      
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="CustomerId">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let element"> {{ this.customerService.GetCustomerById( element.CustomerId )?.Name }} </td>
      </ng-container>

      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
      </ng-container>

      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef> Remove </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteClicked( element.Id )">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>