<div style="height:90vh; width: 100vw;" fxLayout="column" fxLayout.lg="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    
    <gorgeous-button routerLink="categories">Categories</gorgeous-button>
    
    <gorgeous-button routerLink="products">Products</gorgeous-button>
    
    <gorgeous-button routerLink="stocks">Stocks</gorgeous-button>
    
    <gorgeous-button routerLink="customers">Customers</gorgeous-button>

    <gorgeous-button routerLink="sales">Sales</gorgeous-button>

</div>
